@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', 'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: rgb(35, 39, 43);
  color: white;
}

h1,
h2 {
  font-family: 'Fredericka the Great', cursive;
}

.arrow-home {
  transition: all ease-in-out 350ms;
}
.arrow-home:hover {
  transform: translateY(-3px);
}
.arrow-home:active {
  transform: translateY(2px);
}

.temp--bounce {
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}
